
.fa-e{
    color:blue;
    font-size:30px;
}
.fa-t{
    color:red;
    font-size:30px;
}
.head{
	text-align:center;
	font-size:40px;
}
.container{
	margin-left:350px;
}
.table{
	width:600px;
	height:350px;
	border-collapse:collapse;
}
.table thead th{
	color:white;
	text-align:left;
	font-size:25px;
	background-color:	#61ce70;
	margin:25px 0px;
	padding:20px;
}
.table tbody tr{
	border:2px solid #dddddd;
	font-size:20px;
	text-align:center;
}
.table tbody tr:nth-of-type(even){
	background-color:#f3f3f3;
}
.table tbody tr:last-of-type{
	border-bottom: 2px solid #61ce70;
}